
@font-face {
    font-family: "Right-Sans-Wide-Black";
    src: url(../style/fonts/RightSans/PPRightSans-WideBlack.otf);
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(../style/fonts/HelveticaNeue/HelveticaNeueLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
}

.navbar {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position:relative;
    left: 0px;
    top: 0px;
}

.dropBtn:hover .drop-content {
    display: flex;
    flex-direction: column;
}

.drop-content {
    display: none;
    position: absolute;
    align-items: right;
    justify-content: right;
    background-color: #1c1c1c;
    margin: -24px;
    padding: 16px;
    top: 34px;
    z-index: 12;
}

.link {
    font-size: 16px;
    padding: 12px, 10px;
    display: block;
    font-family: "Helvetica-Neue-Light", sans-serif;
    color:#FFB763;
    transition: all 0.5s ease !important;
    text-decoration: none;
}


.ic {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


#hero {
    width: 100%;
    height: 80vh;
    margin: auto;
    position: relative;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;   
}

/*.block__pick-card {
    width: 100%;
    height: auto;
    box-sizing: content-box;
    position: relative;
    bottom: 24px;
    align-items: center;
    justify-content: center;
}*/

.deck-container {
    position: relative;
    width: 100%;
    height: fit-content;
    align-content: center;
    display: flex;
  }

  .circle {
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 132px;
    height: 132px;
    background-color: #1c1c1c;
    border-radius: 50%;
    align-items: baseline;
    transform-origin: center center;
    justify-self: center;
    transform: translateX(-18%);
    z-index: 1;
}

.card {
    width: 85px;
    bottom: 0;
    left: 50%;
    height: auto;
    position: absolute;
    transform-origin: bottom center;
  }

#C1 {
    transform: matrix(0.0, -1, 1, 0.0, 0, 0);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out; /* Animation */
}

#C2 {
    transform: matrix(0.64, -0.77, 0.77, 0.64, 0, 0);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out; /* Animation */
    }

#C3 {
    transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out; /* Animation */
    }

#C4 {
    transform: matrix(0.95, 0.33, -0.33, 0.95, 0, 0);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out; /* Animation */
    }

#C5 {
    transform: matrix(0.59, 0.81, -0.81, 0.59, 0, 0);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out; /* Animation */
    }

#C6 {
        transform: matrix(0.0, 1, -1, 0.0, 0, 0);
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease-in-out; /* Animation */
    }
    
#C1:hover {
        transform: matrix(0.0, -1, 1, 0.0, -24, 0); /* Move diagonally */
    }

#C2:hover {
        transform: matrix(0.64, -0.77, 0.77, 0.64, -24, -24); /* Move diagonally */
    }

#C3:hover {
        transform: matrix(0.96, -0.28, 0.28, 0.96, -8, -24); /* Move diagonally */
    }

#C4:hover {
        transform: matrix(0.95, 0.33, -0.33, 0.95, 8, -24); /* Move diagonally */
    }


#C5:hover {
        transform: matrix(0.59, 0.81, -0.81, 0.59, 24, -24); /* Move diagonally */
    }

#C6:hover {
        transform: matrix(0.0, 1, -1, 0.0, 24, 0); /* Move diagonally */
    }

h2 {
    font-family: "Helvetica-Neue-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFB763;
}

h1 {
    font-family: "Right-Sans-Wide-Black", sans-serif;
    font-size: 200px;
    color: #C2DDFF;
    filter: drop-shadow(2px 2px 0px #FFB763);
    line-height: 160px;
    letter-spacing: 3.5%;
    text-align: center;
    position: center;
}

 