
@font-face {
    font-family: "Right-Sans-Wide-Black";
    src: url(../style/fonts/RightSans/PPRightSans-WideBlack.otf);
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(../style/fonts/HelveticaNeue/HelveticaNeueLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 100%), url(../assets/images/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.navbar {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: relative;
    left: 0px;
    top: 0px;
}

.top-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: auto;
    left: 40px;
    top: 104px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px;
    width: 100%px;
    height: 134px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.box-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 50%;
    height: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.right-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 0px; 
    justify-content: left;
    width: 346px;
    height: 55px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

p.long-text {
    font-family: "Helvetica-Neue-Light", sans-serif;
    font-style: normal;
    font-size: 32;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-align: right;
    color: #C2DDFF;
}

h1 {
    font-family: "Right-Sans-Wide-Black", sans-serif;
    font-size: 100px;
    color: #C2DDFF;
    line-height: auto;
    letter-spacing: 6%;
    text-transform: uppercase;
    text-align: left;
    position: relative;
} 

h2 {
    font-family: "Helvetica-Neue-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFB763;
}

.ic {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
}

.menu-itens {
    display: none;
}

.details {
    justify-content: space-between;
}

h3.yellow {
    font-family: "Helvetica-Neue-Light", sans-serif;
    font-style: normal;
    font-size: 32;
    letter-spacing: 4%;
    text-align: right;
    color: #FFB763;
}

h3.blue {
    font-family: "Right-Sans-Wide-Black", sans-serif;
    font-style: normal;
    font-size: 40;
    letter-spacing: 10%;
    color: #C2DDFF;
    text-align: left;
}