
@font-face {
    font-family: "Right-Sans-Wide-Black";
    src: url(../style/fonts/RightSans/PPRightSans-WideBlack.otf);
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(../style/fonts/HelveticaNeue/HelveticaNeueLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
}

.navbar {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position:relative;
    left: 0px;
    top: 0px;
}

.ic {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu-itens {
    display: none;
}

#hero {
    width: 100%;
    height: 80vh;
    margin: auto;
    position: relative;
}

.hero-container {
    width: 80%;
    height: 100%;
    max-width: 1000px;
    min-width: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__pick-card {
    width: 100%;
    height: auto;
    box-sizing: content-box;
    position: relative;
    bottom: 24px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 85px;
    height: auto;
    position: absolute;
    transform-origin: center center;
;
  }

#C1 {
    left: 541.92px;
    top: 1036.85px;
    transform: matrix(0.09, -1, 1, 0.09, 0, 0);
}

#C2 {
    left: 558.05px;
    top: 929.54px;
    transform: matrix(0.64, -0.77, 0.77, 0.64, 0, 0);
    }

#C3 {
    left: 631.81px;
    top: 852.23px;
    transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0);
    }

#C4 {
    left: 737.26px;
    top: 828.93px;    
    transform: matrix(0.95, 0.33, -0.33, 0.95, 0, 0);
    }

#C5 {
    left: 837.65px;
    top: 871.24px;
    transform: matrix(0.59, 0.81, -0.81, 0.59, 0, 0);
    }

#C6 {
    left: 894.83px;
    top: 961.75px;
    transform: matrix(0.03, 1, -1, 0.03, 0, 0);
    }
/*
#C2 {
    width: 56px;
    height: auto;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    left: 563px;
    top: 993.45px;

}

#C3 {
    width: 56px;
    height: auto;
    transform-origin: right bottom;
    transform: rotate(-45deg);
    left: 578.74px;
    top: 866.17px;
}

#C4 {
    width: 56px;
    height: auto;
    transform-origin: center bottom;
    transform: rotate(0deg);
    left: 672px;
    top: 794px;
}

#C5 {
    width: 56px;
    height: auto;
    transform-origin: left bottom;
    transform: rotate(45deg);
    left: 812px;
    top: 804px;
}

#C6 {
    width: 56px;
    height: auto;
    transform-origin: left bottom;
    transform: rotate(90deg);
    left: 886px;
    top: 902.98px;
}*/


h2 {
    font-family: "Helvetica-Neue-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFB763;
}

h1 {
    font-family: "Right-Sans-Wide-Black", sans-serif;
    font-size: 200px;
    color: #C2DDFF;
    filter: drop-shadow(2px 2px 0px #FFB763);
    line-height: 160px;
    letter-spacing: 3.5%;
    text-align: center;
    position: center;
}

